/***************************
****************************
Variable
****************************
***************************/

:root {
  --white-color: #fff;
}

/***************************
****************************
Reset Styles
****************************
***************************/

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/***************************
****************************
Base Styles
****************************
***************************/

body {
  background: var(--white-color);
  font-family: Roboto, sans-serif;
  font-weight: 400;
  line-height: 1.5em;
  color: #4a4a4a;
}

h1 {
  font-size: 50px;
  line-height: 40px;
  font-weight: 100;
}

p {
  margin-bottom: 1em;
}

a {
  color: #fff;
  text-decoration: none;
  transition-duration: 0.3s;
}

a:hover {
  color: #3399ff;
  transition-duration: 0.05s;
  text-decoration: none;
}

/***************************
****************************
Layout Styles
****************************
***************************/

#sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 300px;
  background: #1034a6;
  transition-duration: 0.3s;
  z-index: 5;
}

.main {
  position: fixed;
  top: 0;
  left: 300px;
  bottom: 0;
  right: 0;
  z-index: 4;
  transition-duration: 0.3s;
  padding-left: 4px;
  box-shadow: inset 4px 0 0 #efefef, inset 5px 0 0 #e2e2e2;
}

.main-nano-wrapper {
  position: absolute;
  top: 214px;
  bottom: 0;
  height: auto;
}

.col {
  float: left;
  position: relative;
}

.col-1 {
  width: 400px;
}

.col-2 {
  position: absolute;
  top: 0;
  left: 400px;
  right: 0;
  bottom: 0;
}

/***************************
****************************
Modules Styles
****************************
***************************/

/********************
Sidebar Module
*********************/

#sidebar,
#sidebar a {
  color: #fff;
}

.logo {
  font-weight: 100;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  margin: 50px 0;
  cursor: pointer;
}

.compose-button {
  border-radius: 100px;
  padding: 13px 15px;
  text-align: center;
  font-weight: 500;
  text-transform: uppercase;
  color: #fff;
  border: 2px solid #fff;
  display: block;
  margin: 0 50px 30px 50px;
  cursor: pointer;
}

button {
  float: right;
  margin: 20px;
}

button a {
  font-size: 17px;
}

.btn {
  display: block;
  text-align: center;
  border: 2px solid #1034a6;
  background: #1034a6;
  cursor: pointer;
  text-decoration: none;
  border-radius: 10px;
  transition: all 0.3s ease 0s;
  padding: 7px;
}

.btn-arrow {
  font-size: 20px;
  color: #1034a6;
}

.btn-arrow:hover {
  color: #7d7d7d;
}

.menu-segment {
  padding: 0 50px 0 70px;
}

.menu-segment ul,
.menu-segment li {
  margin: 0;
  padding: 0;
}

.menu-segment li a {
  display: block;
  margin: 0 -50px 0 -70px;
  padding: 10px 50px 10px 70px;
}

.menu-segment li a:hover {
  background: #3399ff;
}

/********************
Overlay Module
*********************/
.overlay {
  position: absolute;
  top: 0;
  left: -10px;
  right: 0;
  bottom: 100%;
  z-index: 5;
  opacity: 0;
  transition-duration: 0s;
  transition-property: opacity;
}

.show-main-overlay .main .overlay {
  opacity: 1;
  bottom: 0;
  transition-duration: 0.5s;
}

/********************
Header/Title Module
*********************/

.toggle-head {
  margin-left: 30px;
  padding: 5px 0;
  overflow: hidden;
}

.sidebar-toggle-btn {
  width: 0;
  margin-top: 1px;
  padding: 11px 0 0 0;
  float: left;
  position: relative;
  display: block;
  cursor: pointer;
  transition-duration: 0.3s;
  transition-delay: 0.5s;
  opacity: 0;
  margin-right: 0;
  color: #7d7d7d;
}

/********************
Message List Module
*********************/
.message-list {
  margin: 15px;
}

.message-list__top {
  color: var(--white-color);
  text-shadow: 0px 0px 1px #ddd;
  background-color: #1034a6;
  padding: 15px;
}

.message-list__panel {
  background-color: #7d7d7d;
}

.unread {
  font-weight: bold;
}

.message-view {
  line-height: 2;
  margin-left: 20px;
  overflow-y: scroll;
  height: 500px;
}

.message-title {
  font-size: 25px;
  margin-bottom: 0.6rem;
  line-height: 1.1;
}

.btn {
  font-size: 20px;
  font-weight: bold;
}

/********************
Table Module
*********************/

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  text-align: center;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #d3d3d3;
}

/********************
Media Module
*********************/

@media only screen and (max-width: 65em) {
  #sidebar {
    transform: translateX(-100%);
  }

  .main {
    left: 0;
    box-shadow: none;
  }

  .sidebar-toggle-btn {
    margin-right: 20px;
    opacity: 1;
    width: 20px;
  }

  .show-sidebar #sidebar {
    transform: none;
  }

  .show-sidebar .main {
    transform: translateX(280px);
  }
}

@media only screen and (max-width: 37.5em) {
  .main-nano-wrapper {
    position: absolute;
    top: 260px;
    bottom: 0;
    height: auto;
  }
}
